extends layout


block content
  link(rel='stylesheet', href='/css/admin.css')
  script(src='/js/questions.js')
  script(src='/js/admin.js')
  #contentWrapper
    #left
      h1 Admin Home
      a() New Question
      h2 Existing Questions
      #questionList
    #currentQuestion
