extends layout

block css
  link(rel='stylesheet', href='/stylesheets/admin.css')


block content
  script(src='/js/questions.js')
  h1 Admin Home
  a(href='/admin/add') New Question
  h2 Existing Questions
  #questionList
