extends layout

block css
  link(rel='stylesheet', href='stylesheets/home.css')

block content
  script(src='/js/questions.js')
  script(src='/js/index.js')
  p Welcome to Alpha. Here you will find questions.
  #questionList()
  #currentQuestion
  #login.main
    form
     #username
        label Username
        input(type='text')
     #password
       label Password
       input(type='password')
     #submit-btn
       input(type='submit', value='Login')
