extends layout

block css
  link(rel='stylesheet', href='stylesheets/home.css')

block content
  script(src='/js/questions.js')
  script(src='/js/index.js')
  p Welcome to Alpha. Here you will find questions.
  #questionList()
  #currentQuestion
