extends layout

block css
  link(rel='stylesheet', href='stylesheets/home.css')

block content
  p Welcome to Alpha. Here you will find questions.
  #questions.main
    h1: a(href='questions') Questions
  #login.main
    form
     #username
        label Username
        input(type='text')
     #password
       label Password
       input(type='password')
     #submit-btn
       input(type='submit', value='Login')
    
