extends layout

block content
  link(rel='stylesheet', href='/css/index.css')
  script(src='/js/questions.js')
  script(src='/js/index.js')
  #contentWrapper
    #questionWrapper()
      ul(id='questionList',class="nav nav-list side-nav")
    #currentQuestion
        | Select a question from the left to begin
