doctype 5
html
  head
    title Alpha
    script(src='/js/jquery.js')
    script(src='/js/underscore.js')
    script(src='/js/backbone.js')
    script(src='/js/marked.js')
    script(src='/js/layout.js')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/prettify.css')
    script(src='/js/prettify.js')
  body(onload='prettyPrint()')
    #header
      #logo
        h1: a(href='/') Alpha
      #nav-bar
        script
          window.login="#{login}"
        #loginBox
          #buttonWrapper
            a(id='loginLink',class='nav-link') Login
            if admin
              a(href='/admin', class='nav-link') Admin
            //-img(src='/img/loading.gif')
          #loginWrapper
            #usernameBox
              label Username
              input(id='username',type='text')
            #passwordBox
              label Password
              input(id='password',type='password')
            #submit-btn
              button(class='btn btn-inverse', id='loginButton', value='Login') Login
              button(class='btn btn-inverse', id='cancelButton', value='Cancel') Cancel
    #contents
      block content
