doctype 5
html
  head
    title Alpha
    script(src='/js/backbone.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    block css
  body
    #header
      #logo
        h1: a(href='/') Alpha
      #nav-bar
        ul
          li: a(href='') About
          li: a(href='') Problems
    #contents
      block content
