doctype 5
html
  head
    title Alpha
    script(src='/js/jquery.js')
    script(src='/js/underscore.js')
    script(src='/js/backbone.js')
    script(src='/js/marked.js')
    link(rel='stylesheet', href='/css/style.css')
  body
    #header
      #logo
        h1: a(href='/') Alpha
      #nav-bar
        ul
          li: a(href='') About
          li: a(href='') Problems
    #contents
      block content
