body {
    margin:0px;
    font:14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* LINKS */


div#header {
    min-height:102px;
    background:#add8e6;
}

div#logo {
    position:absolute;
    top:31px;
    left:2%;
}

div#logo h1 {
    font-size:4em;
    margin:0;
}

div#logo a, div#logo a:hover {
    text-decoration:none;;
    color:#000000;
}


/* NAVIGATION */

#nav-bar {
    float:right;
    line-height:102px;
}

div#nav-bar ul {
    list-style-type:none;
    padding:0;
    margin:0;
}

div#nav-bar li {
    display:inline;
}
#loginWrapper {
    opacity:0;
    margin-top:-35px;
    margin-right:10px;
    padding:5px;
    background-color:#1B8BCA;
    border-radius:5px;
    line-height:1.2em;
}
.nav-link{
    font-size:16px;
    cursor:pointer;
    margin-left:30px;
}
#submit-btn {
    text-align:center;
}
.checkButton {
    margin-right:5px;
}
.submissionBox {
    padding-top:5px;
    text-align: center;
    width: 100%;
}

.icon-nav{
    float: right;
    margin-top: 2px;
    margin-right: -6px;
    opacity: .25;
}
.side-nav > li:first-child > a {
    border-radius: 6px 6px 0 0;
}
.side-nav > li:last-child > a {
    border-radius: 0 0 6px 6px;
}
.side-nav > li > a {
    display: block;
    width: 190px \9;
    margin: 0 0 -1px;
    padding: 8px 14px;
    border: 1px solid #e5e5e5;
    border-left: 2px solid #e5e5e5;
    border-right: 2px solid #e5e5e5;
    background-color:#D2E2FF;
}
