body {
  margin:0px;
  font:14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* LINKS */


div#header {
    min-height:102px;
    background:#add8e6;
}

div#logo {
    position:absolute;
    top:31px;
    left:2%;
}

div#logo h1 {
    font-size:4em;
    margin:0;
}

div#logo a, div#logo a:hover {
    text-decoration:none;;
    color:#000000;
}


/* NAVIGATION */

div#nav-bar {
    float:right;
}

div#nav-bar ul {
    list-style-type:none;
    padding:0;
    margin:0;
}

div#nav-bar li {
    display:inline;
}

button#login{
    position:relative;
    top:40px;
    right:25%;
    text-align:center;
    text-vertical-align:center;
    font-size:90%;
    text-transform:scale(2,1);
    text-webkit-transform:scale(2,1);
}

button {
    border-radius:.3em;
    background-color:white;
    height:22px;
    width:100px;
}

button:hover {
    background-color:#C19E36;
}

button:active {
    background-color:#252C58;
}
